.button {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  background-color: #e11d48;
  color: #f1f5f9;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px #e11d48;
  transition: transform 0.3s, color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
  transform: translateY(-3px);
  color: #f1f5f9;
  background-color: #e11d48;
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.5),
    0 10px 10px rgba(225, 29, 72, 0.5), 0 0 120px -20px #e11d48;
}
